body {
  width: full;
  background-color: rgb(247, 244, 241);
  display: flex;
}
p {
  font-size: larger;
  color: rgb(241, 218, 7);
}

.menu {
  display: grid;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  width: 15%;
  height: 100vh;
  background-color: rgb(3, 9, 88);
  position: fixed;
  right: 0px;
  top: 0px;
  border-top-left-radius: 10px;
}

.list {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-size: large;
  direction: rtl;
}

.items {
  cursor: pointer;
}
